body{
    padding: 100px;
    text-align: center;
}
.one{
    list-style: none;
    margin: 0;
    padding: 0;
}
.one li{
    width: 100px;
    padding: 10px;
    height: 50px;
    background-color: lightgreen;
    text-align: center;
    margin: 1px 0px;
    line-height: 50px;
}
.one li a{
    display: block;
    text-decoration: none;
    color: black;
}
.one li a:hover{
    color: blue;
}

.two{
    list-style: none;
    margin: 0;
    padding: 0;
}
.two li{
    width: 100px;
    padding: 10px;
    height: 50px;
    background-color: lightgreen;
    text-align: center;
    margin: 1px 0px;
    line-height: 50px;
    display: inline-block; /* to make horizontal navigation menu  */
}
.two li a{
    /* display: block; */
    text-decoration: none;
    color: black;
}
.two li a:hover{
    color: blue;
}
.two li:hover{
    background-color: white;
}

.dropdown{
    position: relative;
    display: inline-block;
    margin: 50px auto;
    background-color: yellow;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.dropdown-content{
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: black;
    color: white;
    display: none;
}
.dropdown:hover .dropdown-content{
    display: block;
}